.App {
    text-align: center;
    max-width: 800px;
    margin-left: 30%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 5%;
    margin-top: 40px;
}

td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: skyblue;
} 
